html {
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6d81fe 30%, #fff 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}





.loginPage {
  height: 100vh;
  width: 100%;
  margin: auto;
  border-radius: 10px;
  /* overflow: hidden; */
  /* box-shadow: 0 7px 50px rgb(214, 223, 213); */
  
}

.container_login {
  height: 80vh;
  width: 60%;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  border-radius: 10px;
  background: #f8f8fa;
  /* border: 1px solid rgb(194, 194, 194);
  box-shadow: 1px 1px rgb(186, 186, 186); */
}

.videoDiv {
  position: relative;
  display: flex;
  flex-basis: 50%;
  width: 70%;
  height: 100%;
  padding: 0 1.5rem;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
}

/* image & img */
/* video, .footerDiv{

    position:absolute;
} */

/* .imageLogoLeft, .footerDiv{

    position:absolute;
} */

/* video{
    height: 100%;
    width:100%;
    object-fit: cover;
    top: 0;
    bottom: 10;
    right: 0;
    left: 0;

} */

.imageLogoLeft {
  height: 100%;
  width: 100%;
  object-fit: contain;
  top: 0;
  bottom: 10;
  right: 0;
  left: 0;
}
.textDiv {
  position: relative;
  color: #fff;
}
.title {
  color: #fff;
  font-size: 35px;
  font-weight: 800;
}

/* p{
    color: #fff;
    padding: 1rem;
    font-weight: 400;
} */
.footerDivLog {
  /* top:80px; */
  margin-bottom: 10px;
  padding: 0 1rem;
  height: 60px;
  background: #23314c;
  left: 10px;
  right: 10px;
  justify-content: space-between;
  backdrop-filter: blur(1px);
  border-radius: 10px;
}
.textDont {
  color: #fff;
}
.btnLogin {
    /* border: 2px dotted; */
    background-color: var(--primaryColor);
    /* outline: none; */
    /* cursor: pointer; */
    border-radius: 10px;
    padding: .8rem 1.5rem;
    font-family: 400;
    color: var(--whiteColor);
  margin-top: 5px;
  border-radius: 10px;
  font-weight: 400;
  transition: 0.3s ease;
  align-items: center;
  /* margin: auto; */
  justify-content: center;
  font-size: 16px;
  width: 100%;
  gap: 0.5rem;
  transition: -3s ease;
}
.btnSignupLogin {
  border: 2px solid #6d81fe;
  background-color: #fff;
  /* outline: none; */
  /* cursor: pointer; */
  border-radius: 10px;
  padding: 10px;
  font-family: 400;
  color: #6d81fe;
  font-weight: 400;
  transition: 0.3s ease;
  align-items: center;
  /* margin: auto; */
  justify-content: center;
  font-size: 14px;
  width: 100%;
  gap: 0.5rem;
  transition: -3s ease;
  margin-bottom: 10px;
}
.btnSignupLogin:hover{
    color: var(--hoverColor);
    background-color: #23314c ;
}
.formDiv {
  flex-basis: 50%;
  margin: auto;
  flex-direction: column;
  gap: 1.5rem;
  transform: translateY(-1rem);
}
.headerDiv {
  text-align: center;
  padding: 1.5rem 0;
}
/* img {
  width: 500px; 
  padding-bottom: 0.5rem;
  position: relative;
} */
.loginLogoName{
  width: 300px; 
  padding-bottom: 0.5rem;
}

/* h1{
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
 
} */
h3 {
  font-size: 25px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #23314c;
}
.form {
  gap: 1rem;
}
.icon {
  color: #6d81fe;
}

.inputField {
  margin-left: 5px;
  background: none;

  width: 250px;
}
label {
  font-weight: 400;
  font-size: 17px;
  display: block;
}
.inputLogin {
  gap: 0.5rem;
  border: none;

  padding: .5rem;
  border-radius: 10px;
  background: #ffffff;
}

.authError{
  margin-top: 2px;
  color:red;
  opacity: 80%;
  font-size: 13px;
}

.forgotPassword {
  font-size: 16px;
}
a {
  text-decoration: underline;
  cursor: pointer;
}
.message {
  display: none;
}

.showMessage {
  display: block;
  color: #ffffff;
  font-size: 15px;
  padding: 15px;
  background: #23314c;
  border-radius: 3px;
  text-align: center;
}
.google {
  justify-content: center;
  padding: 12px;
}
.signInGoogle {
  margin-left: 5px;
  font-size: 15px;
}
.clickHere{
  text-decoration: underline;
  cursor: pointer;
}
@media screen and (max-width: 926px) {
  body{
    background-color: #f8f8fa;
  }
  .bg, .bg2, .bg3{
    display: none;
  }
  .container_login{
    background-color: #f8f8fa;
    border: none;
    box-shadow: none;
  }
  .loginPage {
    width: 100%;
    .container_login {
      margin-top: 70px;
      height: 100%;
      width: 100%;
      flex-direction: column;
      padding: 1.5rem;
      border:none;
      box-shadow:none;
      background-color: none;

      .videoDiv {
        display: none;
        .textDiv {
          .title {
            font-size: 20px;
          }
        }
        .footerDiv {
          display: none;

          .text {
            /* font-size: 20px; */
            display: none;
          }
          .btn {
            padding: 2px;
            font-size: 8px;
          }
        }
      }
      .formDiv {
        gap: 1rem;
        transform: translateY(-0.5rem);

        .headerDiv {
          padding: 1rem 0;

          img {
            width: 40px;
          }
          h3 {
            font-size: 10px;
          }
        }
        .form {
          gap: 0.5rem;

          .inputDiv {
            input {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 678px) {
  .loginPage {
    .container_login {
      .videoDiv {
        .textDiv {
          .title {
            font-size: 25px;
          }

          p {
            padding: 1rem;
          }
        }
        .footerDiv {
          .text {
            font-size: 10px;
          }
          .btn {
            padding: 0.8rem 1.5rem;
          }
        }
      }
      .formDiv {
        .headerDiv {
          padding: 1.5rem 0;

          h3 {
            font-size: 20px;
          }
        }
        .form {
          .inputDiv {
            input {
              width: 100%;
              max-width: 200px;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 927px) {
  .loginPage {
    .container_login {
      width: 70%;
    }
    .imageLogo {
      display: none;
    }
  }
}
